{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col col-6">
        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

            <div class="form-group">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control input-lg" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" class="form-control input-lg" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-block btn-primary" type="submit">
                Log in
            </button>
        </form>
    </div>
</div>

{% endblock %}
