{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="hero-image">
        <div class="container hero-text">
            <h1>CaptainBoat</h1>
            <p>
            Vous partez en weekend bateau ? Faites des économies !<br/>
            CaptainBoat s'occupe de louer pour vous votre place au port pendant votre absence. <br/><br/>
            Pourquoi devenir Captain ?<br/>
            CaptainBoat vous permet, de manière simple et sécurisée, de mettre à disponibilité votre place au port pendant votre absence. Vous partez sereinement et revenez riche ! 
            </p>
        </div>
    </div>

{% endblock %}